Repository LoganBready/personal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint

.lintstagedrc:

{
  "src/**/*.{js,ts,jsx,tsx}": "npm run lint",
  "@types/**/*.{js,ts,jsx,tsx}": "npm run lint",
  "*.{css,scss}": "stylelint"
}

ran scripts
  jest.config.js
  package-lock.json
  package.json
Due: none

first commit
  README.md
Due: none

testing
  .gitignore
Due: none

tester
  src/components/Todos/Todo.tsx
Due: npm run lint

testttt
  src/components/Todos/Todo.tsx
  src/components/Todos/TodoForm.tsx
  src/components/Todos/Todos.tsx
  src/pages/example/index.tsx
Due: npm run lint

test
  src/components/Todos/ITodo.ts
  src/components/Todos/Todo.tsx
  src/components/Todos/TodoForm.tsx
  src/components/Todos/Todos.tsx
  src/components/Todos/TodosAtom.ts
Due: npm run lint

f
  src/components/Todos/ITodo.ts
  src/components/Todos/Todo.tsx
  src/components/Todos/TodoForm.tsx
  src/components/Todos/Todos.module.scss
  src/components/Todos/Todos.tsx
  src/components/Todos/TodosAtom.ts
  src/pages/example/index.tsx
  src/styles/pages/example.module.scss
Due: npm run lint, stylelint
